@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,500,300|Montserrat:400,700&subset=latin,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic);

/* BODY STYLES */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--bg-light);
    color: var(--primary);
    overflow: hidden;
    caret-color: transparent;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("/grafika_tlo.jpg") no-repeat center top;
    background-size: auto 100%;
    opacity: 0.2;
    z-index: -1;
}



.wrapper {
    box-sizing: border-box;
    padding: 40px;
    width: 90%;
    margin: 0 auto 40px auto;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}